<p>
  <h3>Commenter:</h3>
  <%= comment.commenter %>
</p>

<p>
  <h3>Comments:</h3>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" } %>
</p>
