<body class="welcome">

  <div class="jumbotron">
    <h1 class="display-4">Hello, Bloggers!</h1>

    <p class="lead">Gluten-free asymmetrical subway tile, hammock DIY iPhone bushwick affogato meditation. Asymmetrical disrupt hexagon sartorial live-edge jianbing sustainable edison bulb vape iceland.</p>
    <div class="btn-main">
      <%= link_to "Enter", controller: 'articles' %>
    </div>

  </div>

</body>
